version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio-web
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
    ports:
      - "3000:3000"

  nginx:
    image: nginx:stable-alpine
    container_name: portfolio-nginx
    depends_on:
      - web
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf.example:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped